

/*
Dropdown Menu Credit: https://codepen.io/Kevin-Shin-the-builder/pen/xxQKMOJ
*/
/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background-color: fff;
    color: black;
    height: 100%;
    width: 100%;
  }
  
  /* Header styles */
  header {
    background-color: #00498d; /* Dark blue */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  
  /* Main styles */
  main {
    max-width: 75%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Form styles */
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .form_row {
    display: flex;
    flex-direction: column;
  }
  
  .form_row input[type="text"],
  .form_row input[type="password"],
  .form_row input[type="submit"] {
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
  }
  
  .form_row input[type="text"],
  .form_row input[type="password"] {
    background-color: #f7f7f7;
  }
  
  .form_row input[type="submit"] {
    background-color: #00498d; /* Dark blue */
    color: #fff;
    cursor: pointer;
  }
  
  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #00498D;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Menu toggle */
  .menu-toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: not-allowed;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu-toggle::before {
    content: '';
    position: absolute;
    width: 24px;
    height: 4px;
    background: #000;
    box-shadow: 0 8px 0 #000,
                0 -8px 0 #000;
  }
  
  /* Profile menu */
  .profile {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1rem;
    gap: 0.2rem;
    cursor: pointer;
    text-align: end;
    color: white;
  }
  
  .profile h3 {
    text-align: end;
    line-height: 1;
    margin-bottom: 4px;
    font-weight: 600;
  }
  
  .profile p {
    line-height: 1;
    font-size: 14px;
    opacity: .6;
  }
  
  .profile .img-box {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .profile .img-box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* Menu (the right one) */
  .menu {
    position: absolute;
    top: calc(100% + 24px);
    right: 16px;
    width: 200px;
    min-height: 100px;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
    opacity: 0;
    transform: translateY(-10px);
    visibility: hidden;
    transition: 300ms;
  }
  
  .menu::before {
    content: '';
    position: absolute;
    top: -10px;
    right: 14px;
    width: 20px;
    height: 20px;
    background: #00498d;
    transform: rotate(45deg);
    z-index: -1;
  }
  
  .menu.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
  }
  
  /* Menu links */
  .menu ul {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
    background: #fff;
  }
  
  .menu ul li {
    list-style: none;
  }
  
  
  .menu ul li a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    gap: 6px;
  }
  
  .menu ul li a i {
    font-size: 1.2em;
  }
  
  /* Result styles */
  #result {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
  
  /* Additional styles for specific elements */
  .form_row input[type="text"][name="username"] {
    background-color: #f7f7f7;
    margin-bottom: 0.5rem;
  }
  
  /* New styles added */
  .container > * {
    display: none;
  }
  
  .container[data-mode='viewing'] > .table_view {
    display: block;
    box-shadow: 0 0 1rem rgba(255, 255, 255, 0.15);
  }
  
  .container[data-mode='editing'] > .edit_view {
    display: block;
    box-shadow: 0 0 0.25rem rgba(255, 255, 255, 0.15);
  }
  
  .grid_table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .header {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .column {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  .edit {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  div {
    margin-bottom: 0.5rem;
  }
  
  .form_row {
    margin-top: 0.25rem;
    display: block;
    padding: 1rem;
  }
  
  .form_row input {
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  
  .form_row .save_button {
    padding: 0.5rem;
    color: white;
    cursor: pointer;
    background-color: #00498d; /* Dark blue */
  }
  
  .form_row .cancel_button {
    padding: 0.5rem;
    color: white;
    cursor: pointer;
    background-color: #00498d; /* Dark blue */
  }
  
  .edit:hover,
  .delete:hover {
    cursor: pointer;
  }
  
  button {
    background-color: #00498d; /* Dark blue */
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
  }
  
  .censored {
    -webkit-text-security: disc;
    -moz-text-security: disc;
  }
  