<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Aegis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/device_settings.css">
    <script src="../js/device_settings.js" defer></script>
  </head>
  <body>
    <header>
        <nav>
            <div></div>
            <div class="profile">
                <div class="user">
                    <h3>{{ user['first_name'] }} {{ user['last_name'] }}</h3>
                    <p>{{ user['username'] }}</p>
                </div>
                <div class="img-box">
                    <img src="https://media.istockphoto.com/id/689364180/vector/smiling-cartoon-face-positive-people-emotion-icon.jpg?s=612x612&w=0&k=20&c=2olrbVI2dkVyR0XKaMs4cSDrzpA4zH4FrCfZ_rKwVjU=" alt="some user image">
                </div>
            </div>
            <div class="menu">
              <ul>
                <li><a href="/analytics"><i class="ph-bold ph-envelope-simple"></i>&nbsp;Analytics</a></li>
                <li><a href="/profile"><i class="ph-bold ph-user"></i>&nbsp;Profile</a></li>
                <li><a href="/device_settings"><i class="ph-bold ph-gear-six"></i>&nbsp;Device Settings</a></li>
                <li><a href="" id="sign-out-link"><i class="ph-bold ph-sign-out"></i>&nbsp;Sign Out</a></li>
            </ul>   
            </div>
        </nav>
    </header>
    <h1>Device Settings</h1>

    <main class="container" data-mode="viewing">
      <div class="table_view">
        <div class="grid_table">

          <div class="header">
            <span>Location</span>
            <span>Temperature Threshold</span>
            <span>Last Name</span>
            <span>Username</span>
            <span>Password</span>
            <span></span>
            <span></span>
          </div>
          <div class="column" data-id="{{data['dongleID']}}">
            <span>{{ data['temp'] }}</span>
            <span>{{ data['temp'] }}</span>
            <span>{{ data['temp'] }}</span>
            <span>{{ data['temp'] }}</span>
          </div>
          <div></div>
          <div></div>
          <button class="edit_button" title="Edit User">Edit</button>
          <div></div>
        </div>
      </div>
    </main>
  </body>
</html>
