<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Aegis</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

      <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <link rel='stylesheet' type='text/css' href='../css/forgot.css'>
     <link href="../css/extras.css" rel="stylesheet">
    <script src="../js/forgot_user.js" defer></script>
    <link rel="icon" href="../imgs/aegis.png" >
  </head>
  
  <body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <nav class="bg-customBlue p-2 mt-0 w-full">
      <div class="container mx-auto flex flex-wrap items-center">
        <div class="flex w-full md:w-1/2 justify-center md:justify-start text-white font-extrabold items-center">
            <img class="h-8 w-8 mr-2" src="../imgs/aegis.png" alt="Favicon"/>
            <a class="text-white no-underline hover:text-white hover:no-underline" href="#">
                <span class="text-2xl pl-2">Aegis</span>
            </a>
        </div>
            <div class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end">
                <ul class="list-reset flex justify-between flex-1 md:flex-none items-center">
                    <li class="mr-3">
                        <a class="inline-block py-2 px-4 text-white no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="/">Home</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block py-2 px-4 text-white no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="/#features">Features</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block py-2 px-4 text-white no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="/#pricing">Pricing</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block py-2 px-4 text-white no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="/#contact">Contact</a>
                    </li>
                    <li class="mr-3">
                        <a class="inline-block py-2 px-4 text-white no-underline hover:text-gray-200 hover:text-underline py-2 px-4" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Retrieve Username</h1>

    <main>
        <form name='forgot_user' action='/website/get_user' method='POST'>
          <div class='form_row'>
            <input type='text' name='identifier' placeholder='Email'>
            <input type='submit' value='Find Username'>
          </div>
        </form>
          <div id = "result"></div>
      </form>
    </main>

  </body>
</html>