<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>ECE 140A Full Stack Demo</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <link rel='stylesheet' type='text/css' href='public/css/login.css'>
    <script src="public/js/login.js" defer></script>
  </head>
  <body>
    <header>
        <nav id = "navigation">
            <a href = "/home">Home</a>
            <a href = "/register">Register</a>
        </nav>
    </header>
    <h1>Welcome back!</h1>

    <main>
      <form class = "login-form" name='login_form' action='/login' method='POST'>
        <div class='form_row'>
          <input type='text' name='username' placeholder='Username'>
          <input type='password' name='password' placeholder='Password'>
          <input type='submit' value='Login'>
          <nav>
            <a href = "/forgot-user">Forgot Username</a>
            <a href = "/forgot-pass">Forgot Password</a>
        </nav>
          <div id = "result"></div>
        </div>
      </form>
    </main>

  </body>
</html>