<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Aegis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.4/dist/tailwind.min.css" rel="stylesheet">
    <link href="../css/extras.css" rel="stylesheet">
    <link href="../css/profile.css" rel="stylesheet">
    <link rel="icon" href="../imgs/aegis.png" >
    <script src="public/js/profile.js" defer></script>
  </head>
  <body class="bg-gray-100 font-sans leading-normal tracking-normal">
    <header>
      <nav class="bg-customBlue p-2 mt-0 w-full">
        <div class="flex items-center text-white font-extrabold">
            <img class="h-8 w-8 mr-2" src="../imgs/aegis.png" alt="Favicon"/>
            <a class="text-white no-underline hover:text-white hover:no-underline" href="#">
                <span class="text-2xl pl-2">Aegis</span>
            </a>
        </div>
        <div class="profile flex justify-center items-center">
            <div class="user text-white mr-4">
                <h3 class="font-bold text-xl">{{ session['first_name'] }} {{ session['last_name'] }}</h3>
                <p class="font-medium">{{ session['username'] }}</p>
            </div>
            <div class="img-box">
                <img class="w-10 h-10 rounded-full" src="https://media.istockphoto.com/id/689364180/vector/smiling-cartoon-face-positive-people-emotion-icon.jpg?s=612x612&w=0&k=20&c=2olrbVI2dkVyR0XKaMs4cSDrzpA4zH4FrCfZ_rKwVjU=" alt="some user image">
            </div>
        </div>
      <div class="menu mt-1" >
            <ul class="list-reset flex justify-between flex-1 md:flex-none text-white">
              <li><a class="flex items-center px-4 py-2 hover:bg-gray-100" href="/eco_home"><i class="ph-bold ph-envelope-simple mr-2"></i>Eco Dashboard</a></li>
              <li><a class="flex items-center px-4 py-2 hover:bg-gray-100" href="/schedule"><i class="ph-bold ph-schedule mr-2"></i>Schedule</a></li>
              <li><a class="flex items-center px-4 py-2 hover:bg-gray-100" href="/profile"><i class="ph-bold ph-user mr-2"></i>Profile</a></li>
              <li><a class="flex items-center px-4 py-2 hover:bg-gray-100" href="/device_settings"><i class="ph-bold ph-gear-six mr-2"></i>Device Settings</a></li>
              <li><a class="flex items-center px-4 py-2 hover:bg-gray-100" href="" id="sign-out-link"><i class="ph-bold ph-sign-out mr-2"></i>Sign Out</a></li>
            </ul>   
        </div>
    </nav>
    </header>  
    <h1>Profile</h1>

    <main class="container" data-mode="viewing">
      <div class="edit_view ">
        <form name="edit_user" action="" method="PUT" data-id="{{session['ID']}}">
          <h2 class="text-3xl">Edit User</h2>
          <div class="form_row">
            <label for="email" class="text-2xl">Email:</label>
            <input type="text" name="email" id="email" placeholder="Email" pattern="\S+@(\S+)\.\S+" title="example@domain.com">
          </div>
          <div class="form_row">
            <label for="first_name" class="text-2xl">First Name:</label>
            <input type="text" name="first_name" id="first_name" placeholder="First Name" autofocus>
          </div>
          <div class="form_row">
            <label for="last_name" class="text-2xl">Last Name:</label>
            <input type="text" name="last_name" id="last_name" placeholder="Last Name">
          </div>
          <div class="form_row">
            <label for="username" class="text-2xl">Username:</label>
            <input type="text" name="username" id="username" placeholder="Username">
          </div>
          <div class="form_row">
            <label for="password" class="text-2xl">Password:</label>
            <input type="password" name="password" id="password" placeholder="Password">
          </div>
          <div class="button_group">
            <button class="cancel_button" class="text-2xl">Cancel</button>
            <button class="save_button" class="text-2xl">Save</button>
          </div>
        </form>
      </div>
      <div class="table_view">
        <div class="grid_table">
          <div class="header text-2xl" >
            <span>Email</span>
            <span>First Name</span>
            <span>Last Name</span>
            <span>Username</span>
            <span>Password</span>
            <span></span>
            <span></span>
          </div>
          
          <div class="column" data-id="{{session['ID']}}">
            <span style="display: none;">{{ session['ID'] }}</span>
            <span id = "email" class="text-2xl" value = "{{ session['email'] }}">{{ session['email'] }}</span>
            <span id = "first_name" class="text-2xl">{{ session['first_name'] }}</span>
            <span id = "last_name" class="text-2xl">{{ session['last_name'] }}</span>
            <span id = "username" class="text-2xl">{{ session['username'] }}</span>
            <span class="censored" id = "password" class="text-2xl">{{ session['password'] }}</span>

          </div>
          <div></div>
          <div></div>
          <button class="edit_button" title="Edit User" >Edit</button>
        </div>
      </div>
    </main>
  </body>
</html>