<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Aegis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="public/css/profile.css">
    <script src="public/js/profile.js" defer></script>
  </head>
  <body>
    <header>
      <nav>
        <div></div>
        <div class="profile">
            <div class="user">
                <h3>{{ session['first_name'] }} {{ session['last_name'] }}</h3>
                <p>{{ session['username'] }}</p>
            </div>
            <div class="img-box">
                <img src="https://media.istockphoto.com/id/689364180/vector/smiling-cartoon-face-positive-people-emotion-icon.jpg?s=612x612&w=0&k=20&c=2olrbVI2dkVyR0XKaMs4cSDrzpA4zH4FrCfZ_rKwVjU=" alt="some user image">
            </div>
        </div>
        <div class="menu">
            <ul>
                <li><a href="/eco_home"><i class="ph-bold ph-envelope-simple"></i>&nbsp;Eco Dashboard</a></li>
                <li><a href="/profile"><i class="ph-bold ph-user"></i>&nbsp;Profile</a></li>
                <li><a href="/device_settings"><i class="ph-bold ph-gear-six"></i>&nbsp;Device Settings</a></li>
                <li><a href="" id="sign-out-link"><i class="ph-bold ph-sign-out"></i>&nbsp;Sign Out</a></li>
            </ul>   
        </div>
    </nav>
    </header>
    <h1>Profile</h1>

    <main class="container" data-mode="viewing">
      <div class="edit_view">
        <form name="edit_user" action="" method="PUT" data-id="">
          <h2>Edit User</h2>
          <div class="form_row">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" placeholder="Email" pattern="\S+@(\S+)\.\S+" title="example@domain.com">
          </div>
          <div class="form_row">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" id="first_name" placeholder="First Name" autofocus>
          </div>
          <div class="form_row">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" id="last_name" placeholder="Last Name">
          </div>
          <div class="form_row">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Username">
          </div>
          <div class="form_row">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Password">
          </div>
          <div class="button_group">
            <button class="cancel_button">Cancel</button>
            <button class="save_button">Save</button>
          </div>
        </form>
      </div>
      <div class="table_view">
        <div class="grid_table">
          <div class="header">
            <span>Email</span>
            <span>First Name</span>
            <span>Last Name</span>
            <span>Username</span>
            <span>Password</span>
            <span></span>
            <span></span>
          </div>
          
          <div class="column" data-id="{{session['ID']}}">
            <span style="display: none;">{{ session['ID'] }}</span>
            <span id = "email" value = "{{ session['email'] }}">{{ session['email'] }}</span>
            <span id = "first_name">{{ session['first_name'] }}</span>
            <span id = "last_name">{{ session['last_name'] }}</span>
            <span id = "username">{{ session['username'] }}</span>
            <span class="censored" id = "password">{{ session['password'] }}</span>

          </div>
          <div></div>
          <div></div>
          <button class="edit_button" title="Edit User">Edit</button>
        </div>
      </div>
    </main>
  </body>
</html>
