<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Our Team</title>
  <link rel="stylesheet" href="path/to/font-awesome.min.css">
  <link rel='stylesheet' type='text/css' href='public/css/team.css'>
</head>

<body>
    <header>
        <nav><a href = "/">Home</a></nav>
      </header>
  <!-- Our team Section -->
  <section id="team" class="team content-section">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-12">
          <h2>Our Team</h2>
          <h3 class="caption gray">Meet the people part of Aegis</h3>
        </div><!-- /.col-md-12 -->

        <div class="container">
          <div class="row">

            <div class="col-md-6">
              <div class="team-member">
                <figure>
                  <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/terry-fletcher.jpg" alt="" class="img-responsive">
                  <figcaption>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae asperiores mollitia.</p>
                    <ul>
                      <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                    </ul>
                  </figcaption>
                </figure>
                <h4>Emin Kirimlioglu</h4>
                <p>put ur role</p>
              </div><!-- /.team-member-->
            </div><!-- /.col-md-4 -->

            <div class="col-md-6">
              <div class="team-member">
                <figure>
                  <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/terry-fletcher.jpg" alt="" class="img-responsive">
                  <figcaption>
                    <p>Neque minima ea, a praesentium saepe nihil maxime quod esse numquam explicabo eligendi.</p>
                    <ul>
                      <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                    </ul>
                  </figcaption>
                </figure>
                <h4>Dominic Orlando</h4>
                <p>put ur own role</p>
              </div><!-- /.team-member-->
            </div><!-- /.col-md-4 -->

            <div class="col-md-6">
              <div class="team-member">
                <figure>
                  <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/terry-fletcher.jpg" alt="" class="img-responsive">
                  <figcaption>
                    <p>Temporibus dolor, quisquam consectetur molestias, veniam voluptatum. Beatae alias omnis totam.</p>
                    <ul>
                      <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                    </ul>
                  </figcaption>
                </figure>
                <h4>Josh Ball</h4>
                <p>put ur own role</p>
              </div><!-- /.team-member-->
            </div><!-- /.col-md-4 -->

            <div class="col-md-6">
                <div class="team-member">
                  <figure>
                    <img src="http://www.mauritiusdsilva.com/themes/hallooou/assets/images/terry-fletcher.jpg" alt="" class="img-responsive">
                    <figcaption>
                      <p>Temporibus dolor, quisquam consectetur molestias, veniam voluptatum. Beatae alias omnis totam.</p>
                      <ul>
                        <li><a href=""><i class="fa fa-linkedin fa-2x"></i></a></li>
                      </ul>
                    </figcaption>
                  </figure>
                  <h4>Kevin Shin</h4>
                  <p>put ur own role</p>
                </div><!-- /.team-member-->
              </div><!-- /.col-md-4 -->


          </div><!-- /.row -->
        </div><!-- /.container -->

      </div><!-- /.row -->
    </div><!-- /.container -->
  </section><!-- /.our-team -->

  <script src="path/to/your-script.js"></script>
</body>
</html>
